
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0rem;
  font-family: 'Roboto', Courier, sans-serif, monospace;
  scroll-behavior: smooth;
}

h1, h2 {
  text-transform: uppercase;
}

nav {
  height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
  font-size: 1.5rem;
  padding: 0rem 2rem;
}

.cart-info {
  display: flex;
  align-items: center;
  color: #ffe9d6;
  background-color: #ff9a3d;
  padding: 0.5rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.cart-info img {
  height: 50%;
  width: 50%;
  padding-left: 0.5rem;
}

.cart-number {
  font-size: 2rem;
  padding-left: 1rem;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #000;
  padding: 0rem 1.5rem;
  font-size: 1.5rem;
}

nav a:hover {
  color: #ff0000
}

.cart-modal {
  width: 650px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.show-cart {
  display: block;
}

.modal-list {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-left: 10px;
}

.item-detail {
  display: inline-block;
  padding-right: .5em;
}

.cart-header {
  width: 100%;
  padding-top: 20px;
  margin-bottom: 8px;
}

.cart-item {
  padding-bottom: 5px;
}

.item-number {
  width: 4%;
  font-weight: bold;
  text-transform: none;
}
.number{
  width: 7%;
  font-weight: bold;
}
.name, .item-name {
  width: 22%;
  font-weight: bold;
}
.price, .item-price {
  width: 20%;
  font-weight: bold;
}

.naira-symbol {
  padding-right: 0;
}
.quantity, .input-detail {
  width: 25%;
  font-weight: bold;
}

.item-input {
  border: none;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  
}

.minus-btn, .plus-btn {
  width: 27px;
  height: 20px;
  background-color: #ff9a3d;
  color: #ffe9d6;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

.remove-btn {
  width: 80px;
  height: 30px;
  background-color: #ffCD9E;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.cart-form input[type=text], input[type=email], input[type=tel] {
  width: 70%;
  padding: 12px;
  display: block;
  margin: 8px auto;
  background-color: #ffe9d6;
  border: 2px solid #000;
}

.error {
  font-size: 14px;
  color: red;
  text-align: center;
}
.price-details {
  text-align: center;
  padding: 12px;
}
.price-details h2 {
  padding: 12px;
  text-transform: none;
}

.checkout-container {
  float: right;
  margin-right: .5rem;
}

.continueShopping-btn, .checkOut-btn {
  height: 3rem;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
}
.checkOut-btn {
  background-color: #ff9a3d;
  color: #ffe9d6;;
  font-size: 1rem;
  padding: 0rem 2rem;
}
.continueShopping-btn{
  background-color: #ffe9d6;
  font-size: 1rem;
  padding: 0rem 1rem;
  
}

.summary-modal {
  width: 650px;
  max-width: 100%;
  height: 460px;
  max-height: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  display: none;
}

.summary-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.show-summary {
  display: block;
}

.summary-modal-list {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-left: 10px;
}

.thankyou-msg{
  text-transform: none;
  text-align: center;
  padding: 18px;
  font-size: 1.5rem;
  font-weight: bold;
}

.summary-modal h1{
  text-transform: none;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 2rem;
  font-weight: bold;
}
.costumer-name{
  color: #ff9a3d;
}

.summary-modal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.summary-item-detail {
  display: inline-block;
  padding-right: .5em;
}

.summary-header {
  padding-top: 8px;
  margin-bottom: 8px;
}

.summary-item {
  padding-bottom: 5px;
}

.summary-number, .summary-item-number {
  width: 20%;
  font-weight: bold;
  padding-left: 16px;
}
.summary-name, .summary-item-name {
  width: 30%;
  font-weight: bold;
}
.summary-quantity, .summary-input-detail {
  width: 24%;
  font-weight: bold;
}
.summary-ok-btn {
  height: 3rem;
  background-color: #ff9a3d;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffe9d6;;
  font-size: 1rem;
  padding: 0rem 6rem;
  float: right;
  margin-right: .5rem;
}



.hero {
  background-color: #ffe9d6;
  margin-top: -80px;
  height: 100vh;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2.5rem calc((100vw - 1300px) / 2);
  height: 85%;
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0rem 2rem;
}

.column-left h1 {
  font-size: 5rem;
  color: #ff7a00;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.hero-image {
  max-width: 90%;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-btn {
  padding: 1rem 7rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  align-items:center;
  color: #ffe9d6;
  background-color: #ff7a00;
  cursor: pointer;
  outline: none;
}

.hero-btn:hover {
  background-color: #ff9a3d;
}



.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 50vh;
}

.about-container p {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  padding: 0rem 2rem;
}

.product {
  margin: 0;
  /* padding: 4rem 0; */
}

.product h1 {
  text-align: center;
  padding: 2rem;
  /* margin-bottom: 5rem; */
  font-weight: bold;
  font-size: 3rem; 
  
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
}

.product-list {
  width: 28%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;

}


.product-detail {
  position: relative;
}

.product-img {
  width: 100%;
}

.price-container {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 99%;
  text-align: center;
  border-radius: 10px;
  opacity: 0;
}

.product-detail:hover .price-container{
  opacity: 1;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered h3  {
  text-decoration: underline;
  font-size: 1.5rem;
}

.product-list h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-btn {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  color: #000;
  background-color: #ff7a00;
  width: 85%;
  padding: .5rem;
  border:0px;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 10px;
}
.footer {
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer p{
  color: #ffe9d6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}

.footer img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 1rem;
}

footer a {
  text-decoration: none;
  color: #ff9a3d;
  padding: 0rem .5rem;
}

footer a:hover {
  color: #ffCD9E;
}

@media(max-width: 1085px){

  .column-left h1 {
    font-size: 4rem;
    padding-top: 2rem;
  }
  .column-right {
    font-size: 4rem;
    padding-top: 3rem;
  }

  .product-btn {
    font-size: 18px;
  }
}

@media screen and (max-width: 786px) {
  .product-list{
    width: 40%;
    }

  nav a {
    padding: 0rem .9rem;
  }

  .column-left h1 {
    font-size: 3rem;
  }

  .column-right img {
    max-width: 22rem;
  }

  .product-btn {
    font-size: 15px;
  }

}
/* @media screen and (max-width: 630px) {
  .logo {
    display: none;
  }

  .column-left {
    padding-top: 2rem;
  }
  .column-right {
    padding-top: 2rem;
  }

  nav a {
    padding: 0rem .9rem;
  }

  .column-left h1 {
    font-size: 2.5rem;
  }

  .product-btn {
    font-size: 15px;
  }

} */

@media(max-width: 630px){
  .logo {
    display: none;
  }

  .cart-info img {
    height: 50%;
    width: 50%;
    padding-left: 0.5rem;
  }
  
  .cart-number {
    font-size: 2rem;
    padding-left: 1rem;
    font-weight: bold;
  }

  .item-number {
    width: 4%;
    font-weight: bold;
    text-transform: none;
  }

  .hero-container {
    grid-template-columns: 1fr;
  }

  .product-list{
    width: 75%;
    }

  nav a {
    padding: 0rem .3rem;
  }

  .column-left h1 {
    padding-left: 2rem;
    font-size: 3rem;
  }

  .column-right img {
    width: 100%;
  }

  .footer {
    grid-template-columns: 1fr;
  }
}